.box {
    height: 600px;
    width: 1000px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(198, 198, 198);
    position: relative;
    top: 50px;
    left: 50px;
    box-shadow: 0px 0px 10px black;
}

.topbox {
    height: 55px;
    width: 100%;
    border-bottom: 1px solid rgb(198, 198, 198);
}

h2 {
    position: relative;
    top: 5px;
}



.checkbox {
    height: 50px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    flex-direction: row;
    position: relative;
    left: 10px;
}

.row {
background-color: rgb(184, 244, 255);
border: 1px solid rgb(180, 207, 215);
border-radius: 5px;
box-shadow: 0px 0px 5px black;
}


body {

    background-color: rgb(222, 246, 250);
}

.stubbornmess {
    position: relative;
    top: -40px;
    left: -80px;
}


.bottombox {
    height: 55px;
    width: 100%;
    border-top: 1px solid rgb(198, 198, 198);
    padding: 10px;
}
